parameters:
    ignoreErrors:
    -'#Call to an undefined static method Uasoft\\Badaso\\Module\\Post\\Facades\\BadasoPostModule::getProtectedTables[()]+.#'
    -'#Call to an undefined static method Uasoft\\Badaso\\Models\\[a-zA-Z0-9-()\_]+::[a-zA-Z0-9-()\_]+.#'
    -'#Call to an undefined static method Uasoft\\Badaso\\Module\\Post\\Models\\[a-zA-Z0-9-()\_]+::[a-zA-Z0-9-()\_]+.#'
    -'#Call to an undefined static method Illuminate\\Support\\Facades\\DB::rollback[()]+.#'

