parameters:
    excludePaths:
    - src/Commands/*.php
    - src/Config/badaso-post.php
    - src/Seeder/*.php
    - src/Models/*.php
    - src/Migrations/*.php
    - src/Helpers/*.php
    - src/Controllers/*.php
    - src/Facades/BadasoPostModule.php
    - src/Providers/BadasoPostModuleServiceProvider.php
    - src/Routes/api.php



